<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>URL Shortener API</h1>
         <h3>How to use</h3>



         <h4>Send a request: https://us-api.herokuapp.com/&lt;url&gt;</h4>
         <h4>Response:</h4>
         <code>
          { "original_url": "your url",
            "short_url": "https://us-api.herokuapp.com/&lt;index&gt;" }
          </code>
          <h4>Visiting the short URL will redirect you to the URL you sent</h4>
      </div>
   </body>

</html>
